<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Скачать фильм</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Скачивание фильма ' + ${film.getTitle()}"></h3>
  <form method="POST" th:action="@{/order/film}" th:object="${orderFilmForm}">
    <input type="hidden" name="bookId"
           th:value="${film.getId()}">
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Скачать</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
