<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои фильмы</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1>Мои фильмы</h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Фильм</th>
                <th scope="col">Дата покупки фильма</th>
                <th scope="col">Куплена</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orderFilms}">
                <td>
                    <span th:if="${!order.getFilmDTO().isDeleted()}">
                     <a class="text-link text-blue" th:href="'/films/' + ${order.getFilmDTO().getId()}" th:text="${order.getFilmDTO().getTitle()}"></a>
                    </span>
                    <span th:unless="${!order.getFilmDTO().isDeleted()}" th:text="${order.getFilmDTO().getTitle()}"></span>
                </td>
                <td th:text="${#temporals.format(order.getRentDate(), 'dd-MM-yyyy')}"></td>
                <td th:text="${order.getPurchase()} ? 'Да' : 'Нет'"></td>
            </tr>
            </tbody>
        </table>
        <button sec:authorize="isAuthenticated() && (hasRole('ADMIN'))" type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>

    <nav aria-label="Pagination" th:if="${orderFilms.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${orderFilms.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/orderFilms?page={id}(id=${orderFilms.number lt 2 ? 1 : orderFilms.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, orderFilms.totalPages, 1)}"
                th:classappend="${i eq orderFilms.number + 1} ? 'active'">
                <a class="page-link" th:href="@{/orderFilms?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${orderFilms.number eq orderFilms.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/orderFilms?page={id}(id=${orderFilms.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
