<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Участники Фильмов</title>
    <style>
        .book-link {
            text-decoration: none;
        }

        .book-link:hover {
            color: #001445;
        }

        .not-enough-book {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>Участники фильмов</h1>
    <div class="row">
        <div class="col">
            <a href="directors/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить участника</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Фамилия Имя Отчество</th>
            <th scope="col">Фильм(ы)</th>
            <th scope="col">Позиция</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="director : ${directors}">
            <td>
                <a class="book-link" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorsFio()}"></a>
            </td>
            <td>
                <ul>
                    <li th:each="film : ${director.getFilms()}" th:text="${film.getTitle()}"></li>
                </ul>
            </td>
            <td th:text="${director.getPosition()}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
