<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить фильм</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/films/add}" th:object="${filmForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="title" type="text" class="form-control" id="title" placeholder="Название фильма" required>
                    <label for="title">Название</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="premierYear" type="date" class="form-control" id="date" placeholder="Год пермьеры" required>
                    <label for="date">Год пермьеры</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="country" type="text" class="form-control" id="country" placeholder="Страна производства">
                    <label for="country">Страна производства</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required>
                        <option selected value="default">Выберете жанр из списка</option>
                        <option th:each="genre : ${T(com.example.dzspingfilmlibrary.filmlibraryproject.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreDisplayValue()}"></option>
                    </select>
                    <label for="genre">Жанр</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>

        <div class="mt-3 form-floating">
            <input name="file" type="file" class="form-control form-control-sm" id="onlineCopyPath" placeholder="Онлайн копия файла" style="padding-top: 2rem;">
            <label for="onlineCopyPath">Онлайн копия</label>
        </div>

        <div class="mb-3">
            <label for="director" class="form-label">Режисер</label>
            <select class="form-select" name="director" id="director" >
                <option selected>Выберете режисера из списка:</option>
                <option th:each="director : ${directors}"
                        th:value="${director.getId()}" th:text="${director.getDirectorsFio()} " ></option>
            </select>
        </div>

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-success" onclick="validateForm()">Добавить  фильм</button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info" onclick="window.location.replace('/directors/add')">Создать режисера</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
