<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Обновить фильм</h3>

    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/films/update}" th:object="${filmForm}">
        <input type="hidden" name="id"
               th:value="${film.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="title" th:value="${film.getTitle()}" type="text" class="form-control" id="title" placeholder="Название фильма" required>
                    <label for="title">Название фильма</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required th:object="${film}" th:field="*{genre}">
                        <option th:value="default">Выберете жанр из списка</option>
                        <option th:selected="${film.getGenre().getGenreDisplayValue()}"
                                th:each="genre : ${T(com.example.dzspingfilmlibrary.filmlibraryproject.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreDisplayValue()}"></option>
                    </select>
                    <label for="genre">Жанр</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 form-floating">
            <input type="hidden" th:value="${film.getOnlineCopyPath()}" name="onlineCopy" class="form-control form-control-sm">
            <input name="file" type="file" class="form-control form-control-sm" id="onlineCopy" placeholder="Онлайн копия файла" style="padding-top: 2rem;">
            <label for="onlineCopy">Онлайн копия</label>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="country" th:value="${film.getCountry()}" type="text" class="form-control" id="country" placeholder="Страна производства" required>
                    <label for="country">Издательство</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="premierYear" th:value="${film.getCreatedWhen()}" type="date" class="form-control" id="date" placeholder="Год пермьеры" required>
                    <label for="date">Дата издания</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="director" class="form-label">Участник</label>
            <select class="form-select" name="director" id="director" >
                <option selected>Выберете режисера из списка:</option>
                <option th:each="director : ${directors}"
                        th:value="${director.getId()}" th:text="${director.getDirectorsFio()} " ></option>
            </select>
        </div>

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-success" onclick="validateForm()">Обновить  фильм</button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info" onclick="window.location.replace('/directors/add')">Создать режисера</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>