<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы Фильмотеки</title>
    <style>
        .book-link {
            text-decoration: none;
        }

        .book-link:hover {
            color: #001445;
        }

        .not-enough-book {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск фильма</h3>
        <form method="POST" th:action="@{/films/search}" th:object="${filmSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="title" type="text" class="form-control" id="title" placeholder="Название фильма">
                        <label for="title">Название фильма</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorsFio" type="text" class="form-control" id="directorsFio" placeholder="ФИО режисера">
                        <label for="directorsFio">Участник</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="genre" id="genre">
                            <option selected th:value="null">Выберете жанр из списка</option>
                            <option th:each="genre : ${T(com.example.dzspingfilmlibrary.filmlibraryproject.model.Genre).values()}"
                                    th:value="${genre}" th:text="${genre.getGenreDisplayValue()}"></option>
                        </select>
                        <label for="genre">Жанр</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти фильм</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h1>Все фильмы фильмотеки</h1>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                   href="films/add"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить фильм</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Участник(и)</th>
                        <th scope="col">Год премьеры</th>
                        <th scope="col">Страна производства</th>
                        <th scope="col">Жанр</th>
                        <th scope="col">Онлайн копия</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="film : ${films}">
                        <td>
                            <a class="book-link" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
                        </td>
                        <td>
                            <ul>
                                <li th:each="director : ${film.getDirectors()}" th:text="${director.getDirectorsFio()}"></li>
                            </ul>
                        </td>
                        <td th:text="${film.getPremierYear()}"></td>
                        <td th:text="${film.getCountry()}"></td>
                        <td th:text="${film.getGenre().getGenreDisplayValue()}"></td>
                        <td>
                            <div sec:authorize="isAuthenticated()">
                                <a class="text-link text-blue" th:if="${film.getOnlineCopyPath()} != null" th:href="@{|/films/download?filmId=${film.id}|}">
                                    <span>Скачать фильм</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">
                                <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${film.id}">Обновить</a>
                                <a class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${film.id}"
                                   onclick="return confirm('Вы действительно хотите удалить книгу?')">Удалить</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
